.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

nav {
  background-color: hwb(218 21% 33%);
  color: white;
  padding: 10px 0;
  text-align: center;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: rgb(12, 113, 100);
}

.content {
  margin-left: 260px; /* width of side-pane + some padding */
  padding: 20px;
}

